/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* FONTS */
@font-face {
  font-family: chillax; 
  src: url(/fonts/Chillax-Regular.otf);
}

@font-face {
  font-family: chillax-bold; 
  src: url(/fonts/Chillax-Bold.otf);
}

@font-face {
  font-family: chillax-semibold;
  src: url(/fonts/Chillax-Semibold.otf);
}

/* VARIABLES & DEFAULTS */
:root {
    --green: #2B5C47;
    --mint: #B1D1A0;
    --lavender: #D6BED8;
    --lightpink: #F7E0DA;
    --yellow: #F0D385;
    --orange: #EF7A44;
    --lightblue: #d9d9d9;
    --blue: #BFD3EB;
    --peach: #F4C4B6;
    --pink: #FF87B4;
}

html {
    font-size: 14px;
    font-family: chillax, sans-serif;
    text-transform: uppercase;
}

/* HEADER & NAV SETTINGS */
header {
    background-color: var(--green);
    padding: 2.5rem 3.5%;
    color: var(--mint);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

header h2, footer h2 {
    font-family: chillax-bold;
    font-size: 3.8rem;
    letter-spacing: -0.25rem;
    line-height: 3rem;
}

.nav-toggle {
    display: block;
    position: absolute;
    right: 1rem;
    top: 1rem;
    width: 2rem;
    height: 2rem;
    opacity: 0;
    z-index: 2;
}

.nav-toggle-label {
    display: none;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    border: solid 3px var(--mint);
}

.nav-toggle-label div {
    display: none;
    width: 1rem;
    height: 1rem;
    border: solid 3px var(--mint);
}

.nav-buttons {
    display: flex;
    gap: 3px;
    background-color: var(--mint);
    border: 3px solid var(--mint);
}

.nav-buttons button {
    background-color: var(--green);
    border: none;
    color: var(--mint);
    font-size: 1.8rem;
    padding: 0.4rem 1.8rem;
    text-transform: uppercase;
    font-family: chivo-mono, sans-serif;
    font-weight: 200;
}

.nav-buttons button:hover {
    background-color: var(--mint);
    color: var(--green);
}

.nav-toggle:checked + .nav-toggle-label + .nav-buttons {
    display: flex;
}

/* HERO */
.hero {
    font-family: chillax-semibold;
    letter-spacing: -0.8rem;
    font-size: 10.7rem;
    text-transform: uppercase;
    color: var(--orange);
    background-color: var(--lightpink);
    padding: 10.7rem 4.8vw;

    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

.hero img {
    height: 12.1rem;
    width: auto;
}


/* MARQUEE */
.marquee {
    background-color: var(--lavender);
    height: 12.7vh;
    display: flex;
	overflow: hidden;			
	white-space: nowrap;
    width: 100%;
}

.marquee-2 {
    align-items: center;
    height: 10vh;
}

.marquee-item {
			animation-duration: 40s;
			animation-iteration-count: infinite;
			animation-name: marquee-content;
			animation-timing-function: linear;
			padding: 0.75rem 0;
		}
.marquee-item img {
	margin: 0 1rem;
    height: 100%;
    width: auto;  
    transition: transform 0.4s;  
}

.marquee-item img:hover {
    transform: scale(1.3);
}

.marquee-item p {
    text-transform: uppercase;
    font-size: 2rem;
    color:#2B5C47;
    font-family: chillax-semibold;
    padding: 0 0.5rem;
}

@keyframes marquee-content {
			from {
				transform: translateX( 0% );
			}
			to {
				transform: translateX( -100% );
			}	
        }

/* FEATURES */
.features {
    background-color: var(--yellow);
    padding: 7.1rem 9.7vw;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 60vh;
    gap: 5rem;
}

.feature-section-1 {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.feature-header {
    justify-self: center;
    align-self: center;
    text-align: center;
    width: 4.8rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.features h2 {
    font-family: chillax-semibold;
    font-size: 5rem;
    text-transform: uppercase;
    color: var(--green);
    letter-spacing: -0.3rem;
    transform-origin: 50% 50%;
    transform: rotate(-90deg);
}

.feature-cards {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    height: 100%;
    gap: 2rem;
    justify-content: center;
}

.feature-item {
    border:var(--orange) 10px solid;
    padding: 0.5rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    height: 100%;
    width: 25%;
}

.feature-item img {
    width: 13vw;
    height: auto;
}

.feature-item p {
    color: var(--orange);
    text-align: center;
    text-transform: uppercase;
    font-family: chivo-mono, sans-serif;
    font-size: 2rem;
}

.feature-asterisk {
    font-size: 1.2rem;
    color: var(--green);
    text-align: center;
    width: 60%;
    font-family: chillax-semibold;
    text-transform: uppercase;
}

/* GALLERY */
.gallery {
    background-color: var(--lightpink);
    padding: 7.1rem 9.7vw;
    height: 80vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.gallery .gallery-section {
    width: 18vw;
    display: flex;
    flex-flow: column nowrap;
    gap: 3.5rem;
}

.gallery div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 18vw;
}

.gallery img {
    width: 11.8vw;
    height: auto;
    transition: transform 0.4s;  
}

.gallery img:hover {
    transform: scale(1.3);
}

.gallery-section:nth-child(even) {
    align-self: flex-end;
}

.gallery-section:first-child div:first-child {
    background-color: var(--orange);
}

.gallery-section:first-child div:last-child {
    background-color: var(--lavender);
}

.gallery-section:nth-child(2) div:first-child {
    background-color: var(--lightblue);
}

.gallery-section:nth-child(2) div:last-child {
    background-color: var(--blue);
}

.gallery-section:nth-child(3) div:first-child {
    background-color: var(--mint);
}

.gallery-section:nth-child(3) div:last-child {
    background-color: var(--yellow);
}

.gallery-section:last-child div:first-child {
    background-color: var(--pink);
}

.gallery-section:last-child div:last-child {
    background-color: var(--peach);
}

/* FOOTER */
footer {
    background-color: var(--green);
    padding: 2.5rem 3.5%;
    color: var(--mint);
    text-transform: uppercase;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.footer-content {
    display: flex;
    flex-flow: column wrap;
    gap: 1rem;
    align-items: flex-end;
}


@media all and (max-width: 768px) {
    header {
        padding: 1.2rem 1.5rem;
    }

    header h2, footer h2 {
        font-size: 1.4rem;
        letter-spacing: -1.4px;
        line-height: 110%;
    }

    .nav-toggle-label {
    display: flex;
}

    .nav-toggle-label div {
    display: block;
}

    .nav-buttons {
        display: none;
        position: absolute;
        top: 4.75rem;
        left: 0;
        border: none;
    }

    .nav-buttons button {
        width: 33.3vw;
        background-color: var(--mint);
        color: var(--green);
        font-size: 1.4rem;
        padding: 0.4rem 0;

    }
    
    .hero {
        font-size: 4.2rem;
        padding: 3.8rem 10vw;
        letter-spacing: -5.4px;
        line-height: 110%;
    }

    .no-show {
        display: none;
    }

    .hero img {
        height: 5rem;
        width: auto;
    }

    .features {
        padding: 5rem 15vw;
        gap: 2rem;
        height: auto;
    }

    .features h2 {
    font-size: 4rem;
    }

    .feature-cards {
    flex-flow: column nowrap;
    width: 100%;
    gap: 1rem;
    }

    .feature-item {
    border:var(--orange) 5px solid;
    flex-flow: row nowrap;
    gap: 0.5rem;
    height: 30%;
    width: 100%;
    }

.feature-item img {
    width: 16vw;
    height: auto;
}

.feature-item p {
    text-align: left;
    font-size: 1.2rem;
}

.feature-asterisk {
    font-size: 1rem;
    width: 100%;

}

.marquee {
    align-items: center;
    height: 15vh;
}

.marquee-2 {
    height: 10vh;
}

.marquee-item img {
    height: 12vh;
}

.marquee-item p {
    font-size: 1.2rem;
    padding: 0 0.5rem;
}

.gallery {
    padding: 9.7vw;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    height: 100vh;
}

.gallery .gallery-section {
    width: min(35vw, 175px);
    flex-flow: column nowrap;
    row-gap: 1rem;
}

.gallery div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: min(35vw, 175px)
}

.gallery img {
    width: min(27vw, 135px);
    height: auto;  
}

.gallery-section:nth-child(even) {
    align-self: center;
}

footer {
    padding: 2.5rem 3.5%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
}

footer br {
    display: none;
}

}